/* All Pages --------------------------------- */

div:focus {
  outline: none;
}

button:focus {
  outline: none;
}

#classPickerSelect{
	background-color: #1bca9b; 
	border:1px solid white; 
	font-size: 16px; 
	padding: 2px 5px; 
	border-radius: 3px;
	width:250px; 
	color: white; 
	border-width:1px;
}
body {
	background-color: #1bca9b;
	padding: 0;
	padding-top:20px;
	font-family: "Arial";
}

.homeBarDiv{
	padding-top:10px;
	padding-bottom:10px;
	background-color: #1bca9b;
	z-index: 1;
}

.titleText {
	text-decoration: none;
	color: white;
	float:left;
	font-weight:bold;
	margin-left:50px;
	height: 50px;
	display: flex;
	align-items:center;
}

/*logo*/
.titleText img {
	height: 100%;
	padding-bottom: 20%;
}
.titleText{
	padding-top:15px;
}
.classPicker {
	float: left;
	margin-left:50px;
	padding:16px;
}


.loginButton, .registerButton, 
.welcomeText, .signOutButton{
	text-decoration: none;
	color: white;
	float:right;
	margin-right:50px;
	margin-top:20px;
}
.loginButton:hover,.registerButton:hover  {
    text-decoration: underline;
}
/*Overrides above so no underline*/
#welcomeText:hover{
	text-decoration:none;
}

table {
  border-collapse: collapse;
}


/* HomePage --------------------------------- */
.homeScreenDiv {
	color: white;
	text-align: center;
}

.homeScreenDiv img {
	width: 25%;
	padding-left: 4%;
}

.homeScreenDiv h1 {
	font-size: 50px;
}

#searchErrorMessage{
	padding-top:10px;
	margin-top:10px;
}
.searchText {
	color: white;
	background-color: transparent;
	outline: 0;
  	border-width: 0 0 2px;
  	border-color: white;
  	width: 93%;
  	padding-bottom: 3px;
  	font-size: 20px;
}

.searchText::placeholder {
	color: white;
}

.searchButton {
	padding: 5px;
	background-image: url(assets/search.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
	border-color: transparent;
	float: right;
}

.searchButton:focus {
  outline: none;
}

.classSearch {
	display:block;
	width: 50%;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.classResult {
	border: 1px solid white;
	border-radius: 4px;
	padding-top: 20px;
	margin-bottom: 5px;
}

.classSearch a {
	text-decoration: none;
}

.classSearch a:hover .classResult{
	background-color: #fff2;
}

.classDescription {
	margin-left:50px;
	color: white;
	margin-top: 5px;
	font-weight: normal;
}


.classAddButton {
	width: 22px;
	height: 22px;
	margin-right: 20px;
	float: right;
	padding: 5px;
	background-image: url(assets/add.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
	border-color: transparent;
}

.classAddButton:hover {
	background-image: url(assets/add2.png);
}

.classAddButton:focus {
  outline: none;
}

.classRemoveButton {
	width: 20px;
	height: 20px;
	margin-right: 21px;
	float: right;
	padding: 5px;
	background-image: url(assets/remove.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
	border-color: transparent;
}

.classRemoveButton:hover {
	background-image: url(assets/remove2.png);
}

.className {
	color: white;
	font-weight:bold;
}
.classTitle{
	padding-left:25px;
	color: white;
	font-weight:bold;
}

/* LoginPage + RegisterPage --------------------------------- 
11/14: replaced gross logo, adjusted sizes to make new logo look balanced*/
.loginForm {
	padding: 120px 50px 120px 50px;
	margin-top: 40px;
	color: black;
	/*border: 2px solid #00695C;*/
	border-radius:5px;
	display: block;	
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	text-align: center;
}


.loginForm form {
	width: 100%;
}

.loginForm .input {
	width: 100%;
	font-size: 20px;
	border-radius: 3px;
	border-width: 0;
	border: 1px solid #aaa;
	padding: 5px;
	box-sizing: border-box;
}

/*includes button << registerpage as well*/
.submitLoginButton {
	width: 100%;
	font-size: 20px;
	box-shadow: 1px 1px #000;
	background-color: #00695C;
	color: white;
	padding: 5px;
	border-width: 0;
	border-radius: 3px;
	margin-bottom: 5px;
}

.submitLoginButton:active {
	box-shadow: -1px -1px #000;
}

.submitLoginButton:focus {
	outline: none;
}

/*Posts Page -----------------------------------*/
	/*Posts Page: Sidebar */
body { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
	
}

#assignmentstList {
	margin-top:20px;
	width:100%;
	height: 100%;
	overflow-x: hidden;
}

/*category and categoryNew are the left-bar buttons*/
.category{
	background:transparent;
	border-radius:5px;
	border: 1px solid #666;
	padding: 8px 12px;
	color:#666;
}

.category:hover{
	background:white;
	box-shadow: 1px 1px #aaa;
}

.category:active{
	box-shadow: -1px -1px #aaa;
}

.categoryActive {
	background:transparent;
	border-radius:5px;
	border: 1px solid #53e0bc;
	padding: 8px 12px;
	color:#53e0bc;
}

#postsList{
	background:#eee;
	border: 1px solid #aaa;
	overflow-y:auto;
	overflow-x: auto;
}

#postsList table{
	width: 100%;
	background:white;
}

#postsList td{
	padding: 10px;
	border-bottom: 1px solid #999;
}

#postsList td:hover{
	background-color: rgba(83, 224, 188, 0.6);
}

.postsList {
	max-height: calc(100% - 50px);
	height: calc(100% - 50px);
}

.postsListEditable {
	max-height: calc(100% - 100px);
	height: calc(100% - 100px);
}


/*Actually a div which functions as a button*/
#newButton{
	position: fixed;
	left: 0;
	bottom: 2px;
	width:auto;
	text-align:center;
	font-weight:new;
	background-color:#222222;
	border-radius:5px;
	border: 3px solid #53e0bc;
	padding: 8px;
	color:#53e0bc;
	/*box-sizing: border-box;*/
	float: bottom; 
}

#newButton:hover{
	background:#53e0bc;
	color:white;
	box-shadow: 1px 1px #aaa;
}

#newButton:active{
	box-shadow: -1px -1px #aaa;
}

	/*Posts Page: Post Main Stage*/

.postBody {
	height: 100%;
	width: 100%;
	overflow:auto;
}

.classPostTitle {
	margin-top: 20px;
	margin-left: 5%; 
	width: 89.8%; 
	float: left;
	background-color: #1bca9b;
	border-radius: 5px 5px 0 0;
}

#postsSection {
	margin-left:5%;
	width:90%;
	float:left;
	overflow:auto;
	max-height:calc(100%-20px);
}

/*User input fields + buttons*/
.msInput{
	padding:5px;
	width:calc(100% - 90px);
	text-decoration: none;
	box-shadow:inset 0 0 1px 1px #eee;
	margin-top: 8px;

}
.msButton{
	padding:7px;
	border-width: 0;
	/*box-shadow: 1px 1px #000;*/
	background-color: #00695C;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	margin-left: 10px;
}
.msInput:focus{outline: none;}
.msButton:focus{outline: none;}

/*upvote/downvote arrows*/
#postsSection button{
  background-color: transparent;/*#53e0bc;  Green */
  border: none;
  color: #aaa;
  margin-bottom:5px;
  padding: 5px 5px;
  text-align: center;
  border-radius:10px;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.postHeaderDiv {
	background-color: white;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	text-align:left;
	border: 1px solid #aaa;
	box-shadow: 1px 1px #eee;
	
}
.postHeaderDiv b{
	margin:0;
	line-height:3px;
}
.postQuestionDiv {
	margin-top: 20px;
	border: 1px solid #aaa;
	text-align:left;
	background-color: white;
	border-radius: 5px;
	padding: 3px 20px 10px 20px;
}

.postResponseDiv {
	margin-top: 5px;
	border: 1px solid #aaa;
	border-left: 4px solid #00695C;
	text-align:left;
	margin-left: 10px;
	background-color: white;
	border-radius: 0 5px 5px 0;
	padding: 10px 20px;
	display:inline-block;
}

/* new post stuff */
.newPostTitle {
	width:100%;
	box-sizing: border-box;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.newPostDescription {
	width:100%;
	box-sizing: border-box;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.newPostButton {
	width: 100px;
	font-size: 20px;
	box-shadow: 1px 1px #000;
	background-color: #00695C;
	color: white;
	padding: 5px;
	border-width: 0;
	border-radius: 3px;
	float:right;
}

.newPostButton:active {
	box-shadow: -1px -1px #000;
}

.newPostButton:focus {
  outline: none;
}
