/* All Pages --------------------------------- */

div:focus {
  outline: none;
}

button:focus {
  outline: none;
}

#classPickerSelect{
	background-color: #1bca9b; 
	border:1px solid white; 
	font-size: 16px; 
	padding: 2px 5px; 
	border-radius: 3px;
	width:250px; 
	color: white; 
	border-width:1px;
}
body {
	background-color: #1bca9b;
	padding: 0;
	padding-top:20px;
	font-family: "Arial";
}

.homeBarDiv{
	padding-top:3vh;
	padding-bottom:3vh;
	background-color: #1bca9b;
}

.titleText {
	text-decoration: none;
	color: white;
	float:left;
	font-weight:bold;
	margin-left:50px;
	height: 50px;
	display: flex;
	align-items:center;
}

/*logo*/
.titleText img {
	height: 100%;
	padding-bottom: 20%;
}

.classPicker {
	float: left;
	margin-left:50px;
	padding:16px;
}

.loginButton, .registerButton, 
.welcomeText, .signOutButton{
	text-decoration: none;
	color: white;
	float:right;
	margin-right:50px;
	margin-top:20px;
}
.loginButton:hover,.registerButton:hover  {
    text-decoration: underline;
}


/* HomePage --------------------------------- */
.homeScreenDiv {
	color: white;
	text-align: center;
}

.homeScreenDiv img {
	width: 25%;
	padding-left: 4%;
}

.homeScreenDiv h1 {
	font-size: 50px;
}

#searchErrorMessage{
	padding-top:10px;
	margin-top:10px;
}
.searchText {
	color: white;
	background-color: transparent;
	outline: 0;
  	border-width: 0 0 2px;
  	border-color: white;
  	width: 93%;
  	padding-bottom: 3px;
  	font-size: 20px;
}

.searchText::placeholder {
	color: white;
}

.searchButton {
	padding: 5px;
	background-image: url(assets/search.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
	border-color: transparent;
	float: right;
}

.searchButton:focus {
  outline: none;
}

.classSearch {
	display:block;
	width: 50%;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.classResult {
	border: 1px solid white;
	border-radius: 4px;
	padding-top: 20px;
	margin-bottom: 5px;
}

.classSearch a {
	text-decoration: none;
}

.classSearch a:hover .classResult{
	background-color: #fff2;
}

/*TODO: if we keep this on PostsPage, must be inline style 
because it also exists on home page :(. May not need to if 
we should just put class title in the dropdown menu */
.classDescription {
	margin-left:50px;
	color: white;
	margin-top: 5px;
	font-weight: normal;
}

.classAddButton {
	width: 22px;
	height: 22px;
	margin-right: 20px;
	float: right;
	padding: 5px;
	background-image: url(assets/add.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
	border-color: transparent;
}

.classAddButton:hover {
	background-image: url(assets/add2.png);
}

.classAddButton:focus {
  outline: none;
}

.classRemoveButton {
	width: 20px;
	height: 20px;
	margin-right: 21px;
	float: right;
	padding: 5px;
	background-image: url(assets/remove.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
	border-color: transparent;
}

.classRemoveButton:hover {
	background-image: url(assets/remove2.png);
}

.className {
	color: white;
	font-weight:bold;
}
.classTitle{
	padding-left:25px;
	color: white;
	font-weight:bold;
}

/* LoginPage + RegisterPage --------------------------------- 
11/14: replaced gross logo, adjusted sizes to make new logo look balanced*/
.loginForm {
	padding: 120px 50px 120px 50px;
	margin-top: 40px;
	color: black;
	/*border: 2px solid #00695C;*/
	border-radius:5px;
	display: block;	
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	text-align: center;
}


.loginForm form {
	width: 100%;
}

.loginForm .input {
	width: 100%;
	font-size: 20px;
	border-radius: 3px;
	border-width: 0;
	border: 1px solid #aaa;
	padding: 5px;
	box-sizing: border-box;
}

/*includes button << registerpage as well*/
.submitLoginButton {
	width: 100%;
	font-size: 20px;
	box-shadow: 1px 1px #000;
	background-color: #00695C;
	color: white;
	padding: 5px;
	border-width: 0;
	border-radius: 3px;
	margin-bottom: 5px;
}

.submitLoginButton:active {
	box-shadow: -1px -1px #000;
}

.submitLoginButton:focus {
	outline: none;
}

/*Posts Page -----------------------------------*/
/*Posts Page: Sidebar */
body { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}

#assignmentstList, #sneakyLeftDiv{
	width:20%; 
	padding-left:1vw; 
	padding-right:1vw; 
	position: fixed;
	top:115px;
	border-right: double;
	left:0;
	height:90vh;
	overflow: scroll;
	/*float:left; 
	border:1px solid gray; 
	height: 80vw;
	border-radius:5px;*/
}

/*category and categoryNew are the left-bar buttons*/
.category{
	background:transparent;
	border-radius:5px;
	border: 1px solid #666;
	padding: 8px 12px;
	color:#666;
}

.category:hover{
	background:white;
}

.category:active{
	box-shadow: -1px -1px #aaa;
}

#abutton {
	min-width: 200px;
	background-color:red;
}

#ebutton {
	
}

#obutton {
	
}

#postsList{
	margin-left:1vw;
	padding-left:1vw;
}

/*Actually a div which functions as a button*/
#newButton{
	position: fixed;
	width:18%;
	bottom:10px;
	text-align:center;
	font-weight:new;
	background:transparent;
	border-radius:5px;
	border: 3px solid #53e0bc;
	padding: 8px;
	color:#53e0bc;
}

#newButton:hover{
	background:#53e0bc;
	color:white;
	box-shadow: 1px 1px #aaa;
}

#newButton:active{
	box-shadow: -1px -1px #aaa;
}

/*Posts Page: Post View*/


